html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* basice */
/* basice-fonts */
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both; }

/* ////////////////////////////////////header///////////////////// */
header {
  width: 100%;
  margin: 0 auto; }
  header .main-menu {
    max-width: 1170px;
    max-height: 107px;
    margin: 0 auto; }
    header .main-menu img {
      display: block;
      max-width: 122px;
      float: left;
      padding: 44px 27px; }
    header .main-menu .menu {
      display: block; }
      header .main-menu .menu #touch-menu {
        display: block;
        padding: 44px 27px;
        color: #49cbcd;
        font-family: "Open Sans";
        font-size: 16px;
        text-decoration: none;
        display: none; }
        header .main-menu .menu #touch-menu:hover {
          background: #f8f9fb;
          border-bottom: 3px solid #49cbcd;
          color: #49cbcd; }
      header .main-menu .menu .nav {
        display: block;
        float: right; }
        header .main-menu .menu .nav li {
          display: block;
          float: left; }
          header .main-menu .menu .nav li a {
            display: block;
            padding: 44px 27px;
            color: #484c55;
            font-family: "Open Sans";
            font-size: 16px;
            text-decoration: none; }
            header .main-menu .menu .nav li a:hover {
              background: #f8f9fb;
              border-bottom: 3px solid #49cbcd;
              color: #49cbcd; }
  header .slider {
    text-align: center;
    position: relative; }
    header .slider .img-slider {
      display: block;
      width: 100%;
      height: 566px;
      margin: 0 auto;
      background: url("../images/slider1.png");
      background-size: cover; }
    header .slider .text-slider {
      position: absolute;
      top: 22%;
      display: inline-block;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%; }
      header .slider .text-slider:after {
        content: '';
        display: block;
        top: 30%;
        left: 5%;
        background: url("../images/tab-left.png");
        width: 51px;
        height: 51px;
        position: absolute; }
      header .slider .text-slider:before {
        content: '';
        display: block;
        top: 30%;
        right: 5%;
        background: url("../images/tab-right.png");
        width: 51px;
        height: 51px;
        position: absolute; }
      header .slider .text-slider h2 {
        color: #fff;
        font-family: "OpenSans-Semibold";
        font-size: 63px;
        line-height: 70px;
        padding-bottom: 30px; }
      header .slider .text-slider p {
        color: #fff;
        font-family: "Open Sans";
        font-size: 23px;
        line-height: 38px;
        padding-bottom: 73px; }
      header .slider .text-slider a {
        color: #fff;
        font-family: "OpenSans-Semibold";
        font-size: 26px;
        padding: 15px 40px;
        border: 3px solid #fff;
        -webkit-border-radius: 7px 7px 7px 7px;
        border-radius: 7px 7px 7px 7px; }

/* ///////////////////////////////////section team//////////////////////////////////////////// */
.team {
  text-align: center;
  padding: 100px 0;
  font-family: "Open Sans";
  color: #4e525d; }
  .team h2 {
    font-size: 42px;
    line-height: 50px;
    padding-bottom: 130px; }
  .team ul {
    max-width: 1170px;
    margin: 0 auto; }
    .team ul li {
      display: block;
      float: left;
      padding-right: 56px; }
      .team ul li:last-child {
        padding-right: 0; }
      .team ul li figure {
        padding-bottom: 60px;
        position: relative; }
        .team ul li figure .plus {
          position: absolute;
          background: url("../images/plus.png") no-repeat;
          top: 32%;
          right: 37%;
          width: 50px;
          height: 50px; }
      .team ul li h3 {
        font-size: 22px;
        line-height: 30px; }
      .team ul li span {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 24px;
        display: block; }
      .team ul li p {
        font-size: 14px;
        line-height: 30px; }

/* //////////////////////////////////proposal///////////////////////////////////////////////////// */
.proposal {
  width: 100%;
  margin: 0 auto;
  background: #f1f1f1;
  padding: 115px 0 98px; }
  .proposal .main-proposal {
    max-width: 1170px;
    text-align: center;
    margin: 0 auto; }
    .proposal .main-proposal ul li {
      display: block;
      float: left;
      padding-right: 30px;
      font-family: "Open Sans";
      width: 360px; }
      .proposal .main-proposal ul li:last-child {
        padding-right: 0; }
      .proposal .main-proposal ul li:nth-child(2) h3 {
        background: #49cbcd; }
      .proposal .main-proposal ul li:nth-child(2) button {
        background: #49cbcd; }
      .proposal .main-proposal ul li:hover h3 {
        background: #485460;
        /* Old browsers */
        background: -moz-linear-gradient(45deg, #485460 20%, #49cbcd 50%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #485460 20%, #49cbcd 50%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #485460 20%, #49cbcd 50%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#485460', endColorstr='#49cbcd',GradientType=1 );
        /* IE6-9 fallback on horizontal gradient */ }
      .proposal .main-proposal ul li:hover button {
        background: #485460;
        /* Old browsers */
        background: -moz-linear-gradient(45deg, #485460 20%, #49cbcd 50%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #485460 20%, #49cbcd 50%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #485460 20%, #49cbcd 50%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#485460', endColorstr='#49cbcd',GradientType=1 );
        /* IE6-9 fallback on horizontal gradient */ }
      .proposal .main-proposal ul li h3 {
        padding: 25px 0;
        background: #485460;
        color: #fff;
        font-size: 26px; }
      .proposal .main-proposal ul li span {
        color: #485460;
        font-size: 20px;
        padding: 28px 0;
        background: #f8f9fb;
        display: block; }
      .proposal .main-proposal ul li p {
        color: #8c9299;
        font-size: 14px;
        display: block;
        padding: 15px;
        background: #fff;
        border-top: 1px solid #ecf0f1; }
      .proposal .main-proposal ul li form {
        padding: 30px;
        background: #f8f9fb;
        border-top: 1px solid #ecf0f1; }
        .proposal .main-proposal ul li form button {
          font-family: "OpenSans-Semibold";
          font-size: 17px;
          background: #788492;
          color: #fff;
          padding: 7px 50px;
          -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
          border: none; }

/* ///////////////////////////////////footer/////////////////////////////////////////////////////// */
footer {
  width: 100%;
  margin: 0 auto;
  background: url("../images/footer.png") left top no-repeat;
  background-size: cover; }
  footer .main-footer {
    max-width: 1170px;
    margin: 0 auto;
    font-family: "Open Sans";
    text-align: center;
    padding: 100px 0 98px; }
    footer .main-footer h2 {
      color: #fff;
      display: block;
      font-size: 42px;
      padding-bottom: 100px; }
    footer .main-footer .left-aside {
      display: block;
      float: left;
      text-align: left;
      max-width: 430px; }
      footer .main-footer .left-aside h3 {
        font-size: 24px;
        line-height: 37px;
        color: #fff; }
      footer .main-footer .left-aside p {
        font-size: 14px;
        line-height: 20px;
        color: #848484; }
      footer .main-footer .left-aside .social-network li {
        float: left;
        display: block; }
        footer .main-footer .left-aside .social-network li span {
          display: inline-block;
          width: 50px;
          height: 50px;
          background: url(../images/sprite.png) 0 0 no-repeat;
          margin: 30px 5px 22px 0; }
        footer .main-footer .left-aside .social-network li .fb {
          background-position: -2px 3px; }
        footer .main-footer .left-aside .social-network li .tw {
          background-position: -51px 3px; }
        footer .main-footer .left-aside .social-network li .g {
          background-position: -102px 3px; }
      footer .main-footer .left-aside .footer-p {
        font-size: 14px;
        padding-bottom: 14px;
        color: #bface2; }
    footer .main-footer .right-aside {
      float: right;
      display: block;
      max-width: 600px; }
      footer .main-footer .right-aside .form li {
        float: left; }
      footer .main-footer .right-aside .form .input-name, footer .main-footer .right-aside .form .input-email {
        padding: 12px 21px;
        width: 271px;
        background: #fff;
        margin-bottom: 30px;
        box-sizing: border-box;
        -webkit-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        border: none; }
        footer .main-footer .right-aside .form .input-name input, footer .main-footer .right-aside .form .input-email input {
          width: 100%;
          border: none;
          font-family: "Open Sans";
          font-size: 16px;
          color: #c5c5c5;
          outline: none; }
      footer .main-footer .right-aside .form .input-name {
        margin-right: 29px; }
      footer .main-footer .right-aside textarea {
        padding: 16px 21px;
        width: 100%;
        height: 180px;
        font-family: "Open Sans";
        font-size: 16px;
        color: #c5c5c5;
        outline: none;
        resize: none;
        box-sizing: border-box;
        margin-bottom: 30px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        border: none; }
      footer .main-footer .right-aside .submit {
        font-family: "OpenSans-Semibold";
        font-size: 17px;
        background: #49cbcd;
        color: #fff;
        padding: 7px 50px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        border: none;
        float: right; }

/* ////////////////////////////////////////////media//////////////////////////////////////////////// */
@media screen and (max-width: 1187px) {
  .team ul li {
    display: inline-block;
    float: none;
    margin-bottom: 40px; }

  .proposal .main-proposal ul li {
    padding-right: 5px;
    display: inline-block;
    float: none;
    margin-bottom: 40px; }

  footer .main-footer .right-aside {
    margin: 0 10px; }

  footer .main-footer .left-aside {
    margin: 0 10px; } }
@media screen and (max-width: 1038px) {
  footer .main-footer .right-aside {
    display: inline-block;
    float: none;
    /* margin-right: 10px; */ }

  footer .main-footer .left-aside {
    display: inline-block;
    float: none;
    /* margin-left: 10px; */ }

  .team ul li {
    padding-right: 10px; } }
@media screen and (max-width: 812px) {
  header .main-menu img {
    float: right; }

  header .main-menu {
    max-height: none; }

  header .main-menu .menu .nav {
    display: none;
    float: none; }

  header .main-menu .menu .nav li {
    float: none; }

  header .main-menu .menu .nav li a {
    display: block;
    padding: 5px 10px; }
    header .main-menu .menu .nav li a:hover {
      border-bottom: none;
      border-left: 3px solid #49cbcd; }

  header .main-menu .menu #touch-menu {
    display: block; } }
@media screen and (max-width: 598px) {
  footer .main-footer .left-aside {
    display: block; }

  footer .main-footer .right-aside .form .input-name,
  footer .main-footer .right-aside .form .input-email {
    width: 100%; } }
@media screen and (max-width: 412px) {
  header .slider .text-slider p {
    padding-bottom: 20px; } }

/*# sourceMappingURL=all.css.map */
